/* color palette from <https://github.com/vuejs/theme> */
:root {
  /* Colors */
  --color-primary: #ff6fb1;

  --color-secondary: #ffd166;
  --color-accent: #4d96ff;
  --color-text: #1f2937;
  --color-text-secondary: #4b5563;
  --color-text-light: #ffffff;
  --color-text-light-secondary: #efefef;

  --color-bg: #ffffff;
  --color-bg-rose: #fff0f6;
  --color-bg-dark: #1f2937;

  --color-secondary-bg: #ffd1662d;
  --color-primary-bg: #ff6fb024;
  --color-accent-bg: #4d97ff28;

  --box-shadow: 0 5px 10px rgba(199, 196, 196, 0.3);

  --font-heading: "Poppins", "Inter", sans-serif;
  --font-body: "Inter", sans-serif;

  --destructive: #d4183d;
  --destructive-foreground: #ffffff;
  --border: rgba(0, 0, 0, 0.1);
  --input: transparent;
  --input-background: #f3f3f5;
  --switch-background: #cbced4;

  --ring: oklch(0.708 0 0);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin-top: 48px;
  font-family: var(--font-body);
  color: var(--color-text);
  background-color: var(--color-bg);
  line-height: 1.6;
}

.container {
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 1200px;
}

h1,
h2,
h3,
h4 {
  font-family: var(--font-heading);
  font-weight: 600;
  text-align: center;
  letter-spacing: 0.03rem;
}
h1 {
  font-size: 48px;
}
h2 {
  font-size: 32px;
  margin-bottom: 16px;
}
h3 {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-text-light);
}

nav {
  display: flex;
}

ul,
li,
ol,
a {
  list-style: none;
  text-decoration: none;
  color: var(--color-text);
  letter-spacing: 0.03rem;
}

p {
  text-align: center;
  font-weight: 300;
  font-size: 18px;
  color: var(--color-text-secondary);
}

button {
  padding: 0.5rem 1rem;
  border: none;
  background-color: var(--color-primary);
  color: white;
  cursor: pointer;
  letter-spacing: 0.05rem;
  transition: background-color 0.3s ease;
  /* transform: scale(0.5rem); */
}
button:hover {
  transform: scale(1.05);
  box-shadow: var(--box-shadow);
}

blockquote {
  font-size: 18px;
  font-style: italic;
  font-weight: 300;
  height: 140px;

  color: var(--color-text-secondary);
  /* white-space: nowrap; */
  /* не переносити рядок */

  overflow: hidden;
  text-overflow: ellipsis;
  /* padding-left: 24px; */
  /* border-left: 4px solid var(--color-primary); */
  margin: 24px 0;
}
